---
import "@fontsource-variable/cinzel";
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";

const quests = [
  "arr_quests",
  "hw_quests",
  "sb_quests",
  "shb_quests",
  "ew_quests",
  "dt_quests",
];

const instances = ["dungeons", "raids", "trials"];

const jobs = [
  "pld",
  "war",
  "drk",
  "gnb",
  "whm",
  "sch",
  "ast",
  "sge",
  "mnk",
  "drg",
  "nin",
  "sam",
  "rpr",
  "vpr",
  "brd",
  "mch",
  "dnc",
  "blm",
  "smn",
  "rdm",
  "pct",
];
---

<header class="w-full">
  <nav class="flex items-start justify-between p-4 font-display">
    <div
      class="text-2xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
    >
      <a href="/">{SITE_TITLE}</a>
    </div>
    <div class="relative">
      <button
        id="nav-toggle"
        class="flex items-center justify-between px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
      >
        <span class="sr-only">Menu</span>
        <Icon name="mdi:menu" class="h-6 w-6" />
      </button>
      <div
        id="nav-menu"
        class="absolute right-0 z-10 mt-2 hidden w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none dark:bg-gray-800"
      >
        <!-- Items Dropdown -->
        <div class="group relative">
          <button
            class="flex w-full items-center justify-start gap-x-4 px-4 py-2 text-left text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
          >
            <Icon
              name="mdi:chevron-left"
              class="h-4 w-4 text-transparent transition duration-200 ease-in-out group-hover:text-cyan-600"
            />
            Items
          </button>
          <div
            class="absolute right-full top-0 hidden w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 group-hover:block dark:bg-gray-800"
          >
            <a
              href="/content/other_items"
              class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
              >Other</a
            >
            <a
              href="/content/head_items"
              class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
              >Head</a
            >
            <a
              href="/content/chest_items"
              class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
              >Chest</a
            >
            <a
              href="/content/weapons"
              class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
              >Weapons</a
            >
          </div>
        </div>

        <!-- Quests Dropdown -->
        <div class="group relative">
          <button
            class="flex w-full items-center justify-start gap-x-4 px-4 py-2 text-left text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
          >
            <Icon
              name="mdi:chevron-left"
              class="h-4 w-4 text-transparent transition duration-200 ease-in-out group-hover:text-cyan-600"
            />
            Quests
          </button>
          <div
            class="absolute right-full top-0 hidden w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 group-hover:block dark:bg-gray-800"
          >
            {
              quests.map((quest) => (
                <a
                  href={`/content/${quest}`}
                  class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
                >
                  {quest.split("_")[0].toUpperCase()}
                </a>
              ))
            }
          </div>
        </div>

        <!-- Instances Dropdown -->
        <div class="group relative">
          <button
            class="flex w-full items-center justify-start gap-x-4 px-4 py-2 text-left text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
          >
            <Icon
              name="mdi:chevron-left"
              class="h-4 w-4 text-transparent transition duration-200 ease-in-out group-hover:text-cyan-600"
            />
            Instances
          </button>
          <div
            class="absolute right-full top-0 hidden w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 group-hover:block dark:bg-gray-800"
          >
            {
              instances.map((instance) => (
                <a
                  href={`/content/${instance}`}
                  class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
                >
                  {instance.toUpperCase()}
                </a>
              ))
            }
          </div>
        </div>
        <!-- Actions Dropdown -->
        <div class="group relative">
          <button
            class="flex w-full items-center justify-start gap-x-4 px-4 py-2 text-left text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
          >
            <Icon
              name="mdi:chevron-left"
              class="h-4 w-4 text-transparent transition duration-200 ease-in-out group-hover:text-cyan-600"
            />
            Actions
          </button>
          <div
            class="absolute right-full top-0 hidden w-48 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 group-hover:block dark:bg-gray-800"
          >
            {
              jobs.map((job) => (
                <a
                  href={`/actions/${job}`}
                  class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
                >
                  {job.toUpperCase()}
                </a>
              ))
            }
          </div>
        </div>
        <a
          href="/content/achievements"
          class="block px-4 py-2 text-xl font-bold duration-200 ease-in-out hover:scale-105 hover:text-cyan-600 active:scale-110 active:text-cyan-500 active:duration-100 dark:hover:text-cyan-400"
        >
          Achievements
        </a>
      </div>
    </div>
  </nav>
</header>

<style>
  /* Ensure submenus stay visible while hovering */
  .group:hover > div {
    display: block;
  }

  /* Prevent text selection while clicking menus */
  .group {
    user-select: none;
  }
</style>

<script>
  const navToggle = document.getElementById("nav-toggle");
  const navMenu = document.getElementById("nav-menu");

  if (navToggle && navMenu) {
    navToggle.addEventListener("click", () => {
      navMenu.classList.toggle("hidden");
    });

    // Close menu when clicking outside
    document.addEventListener("click", (event) => {
      if (
        event.target instanceof HTMLElement &&
        navToggle &&
        navMenu &&
        !navToggle.contains(event.target) &&
        !navMenu.contains(event.target)
      ) {
        navMenu.classList.add("hidden");
      }
    });
  }
</script>
